[package]
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
publish.workspace = true

license = "Apache-2.0 OR MIT"
name = "vectorscan-sys"
version = "0.1.0"
build = "build.rs"

[build-dependencies]
bindgen = "0.64.0"
cmake = "0.1"

[lib]
doctest = false
